<div class="selected"
     style="background-color: <%= "##{selection.card.color.high_value}" %>;
     color: <%= "##{selection.card.color.value}" %>;
     width: <%= selection.width %>px;">
  <div class="image">
    <a href="/<%= selection.card.title.parameterize %>">
      <%= image_tag selection.upfile.url %>
    </a>
  </div>
  <div class="data">
    <div class="date"><%= year_of selection.date %></div>
    <div class="body"><%= render_body selection %></div>
  </div>
</div>
