<div class="news"
     style="<%= "color: ##{post.card.color.value}" %>; width: <%= post.width %>px;">
  <div class="text" style="background-color: <%= "##{post.card.color.high_value}" %>";">
    <span class="date"><%= post.date %></span>
    <span class="title"><%= link_to_if visible_card?(post.card), post.card.title, post.card.slug, :style => "color: ###{post.card.color.value};" %></span>

    <div class="body"><%= render_body post %></div>
  </div>
  <%= (link_to_if visible_card?(post.card), image_tag(post.upfile.url), post.card.slug) if post.file.present? %>
</div>
